NEXT_PUBLIC_CHAIN_ID=
NEXT_PUBLIC_RPC_URL=
NEXT_PUBLIC_WS_RPC_URL=

NEXT_PUBLIC_PREDICTION_MARKET=
NEXT_PUBLIC_MARKET_FACTORY=
NEXT_PUBLIC_REWARD_DISTRIBUTOR=
NEXT_PUBLIC_MARKET_TREASURY=
NEXT_PUBLIC_USDC_VAULT=

NEXT_PUBLIC_ARC_USDC=

NEXT_PUBLIC_EXPLORER=

NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_WS_URL=