##################################
# ARC NETWORK
##################################

ARC_CHAIN_ID=5042002

ARC_RPC_URL=https://rpc.testnet.arc.network

ARC_WS_URL=wss://rpc.testnet.arc.network

ARC_EXPLORER=https://testnet.arcscan.app

##################################
# DEPLOYMENT
##################################

PRIVATE_KEY=

DEPLOYER_ADDRESS=

##################################
# CONTRACTS
##################################

PREDICTION_MARKET_ADDRESS=

TREASURY_ADDRESS=

FACTORY_ADDRESS=

##################################
# DATABASE
##################################

DB_HOST=localhost

DB_PORT=5432

DB_NAME=arcpredict

DB_USERNAME=postgres

DB_PASSWORD=password

##################################
# BACKEND
##################################

SERVER_PORT=8080

##################################
# MCP
##################################

OPENAI_API_KEY=

##################################
# FRONTEND
##################################

NEXT_PUBLIC_CHAIN_ID=5042002

NEXT_PUBLIC_RPC_URL=https://rpc.testnet.arc.network

NEXT_PUBLIC_WS_URL=wss://rpc.testnet.arc.network

NEXT_PUBLIC_EXPLORER=https://testnet.arcscan.app

NEXT_PUBLIC_MARKET_CONTRACT=